@tailwind base;
@tailwind components;
@tailwind utilities;

nav {
    margin-top: 0.4rem;
}

.nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
}

.nav-icons img {
    transform: scale(0.6);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

.button-group {
    display: flex;
    justify-content: flex-start;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 3rem;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #88C021;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #84ff00;
}

.btn-secondary {
    background-color: #3498db00;
    color: rgb(0, 0, 0);
    border: none;
}

.btn-secondary:hover {
    background-color: #297fb900;
    border: #88C021;
}