@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
}

