@tailwind base;
@tailwind components;
@tailwind utilities;

nav{
    margin-top: 1rem;
}
.nav-links {
    display: flex;
    justify-content: center;
    flex: 1;
}

.nav-icons {
    display: flex;
    justify-content: flex-end;
}

.nav-icons img {
    transform: scale(0.6);
}
